<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <div class="main">

        <h1>Please log in to continute</h1>
        <form>
            <p class="failed-message" id="failed-credentials-trigger">Wrong username or password</p>
            <div class="entries">
                <label for="email">Enter your email:</label>
                <input type="text" name="email" id="email">
            </div>
            <br> 
            <div class="entries">
                <label for="password">Enter your password:</label>
                <input type="password" name="password" id="password">
            </div>
            <br>
            <input type="submit" value="Submit" id="submit-btn">
        </form>
    </div>
    <script th:src="@{/js/script.js}"></script>
</body>
</html>